body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

a{
    text-decoration: none;
}

.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

.menu{
    background: #fff;
    padding: 9px 20px;
}

.menu .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-size: 23px;
    font-weight: bold;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
}

nav ul li a{
    color: #000;
}

/* ESTILOS */

#intro{
    background: url(imagenes/back.jpg);
    text-align: center;
    height: 65vh;
    margin-top: -60px;
    background-size: cover;
    background-position: 57% 48%;
}

#intro h1{
    font-family: 'Playfair Display';
    font-size: 72px;
    color: #fff;
    font-weight: normal;
    padding-top: 60px;
}

#intro p{
    color: #bfbfbf;
    font-size: 18px;
    line-height: 36px;
    width: 60%;
    margin: auto;
}

#intro .menu{
    color: #fff;
    border: 1px solid #fff;
    padding: 9px;
    background: transparent;
}

#intro .reservation{
    text-decoration: none;
    color: #fff;
    padding: 9px;
    background: #c39d63;
}

#intro .botones {
    margin-top: 50px;
}

#intro .botones a{
    margin-right: 20px;
}

/* OUT STORY */

#our-story{
    padding: 90px 0;
}

#our-story .contenedor{
    display: flex;
    justify-content: center;
}

.our-story {
    color: #bfbfbf;
    letter-spacing: 2px;
    font-weight: 700;
}

hr{
    width: 40px;
    float: left;
    border-color: #c29063;
}

#our-story h2{
    margin-top: 50px;
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: 300;
}

#out-story .texto{
    font-size: 17px;
    color: #939393;
    line-height: 30px;
    width: 88%;
}

#our-story .izquierda{
    width: 45%;
}